a:link, a:visited {
  background-color: hsl(0, 67%, 44%);
  color: rgb(255, 255, 255);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(185, 62, 62);
}